---
const features = [
  {
    id: 'expertise-5',
    name: '80+ Components Included',
    description:
      'Velocity includes over 80 components to keep your business moving fast and always ahead of the competition. From handing contact forms, blog posts, hero section designs, to landing pages and much more.',
  },
  {
    id: 'expertise-5',
    name: '30+ Integrations Included',
    description:
      'Velocity includes over 30 integrations to reduce your workload and save your business money. From reaching more customers for free to converting them with ease. Integrations are the power behind your website.',
  },
  {
    id: 'expertise-1',
    name: 'Lightning-fast pageload',
    description:
      'I have always specialised in web performance, and so a few years ago started building Velocity. Now with a 0.2 second page load, out of the box, you will find it hard to beat.',
  },
  {
    id: 'expertise-2',
    name: 'Highly responsive design',
    description:
      'Velocity is designed to 6 seperate screen sizes, allowing your website to look beautiful on any device. Always displaying the right amount of information for the device.',
  },
  {
    id: 'expertise-3',
    name: 'Built on serverless technology',
    description:
      'Ditch the bloat of Wordpress and other website builders and move your business to Web3, the next generation of the interenet. Deliver the web performance your customers expect.',
  },
  {
    id: 'expertise-4',
    name: 'Secure payments with Stripe',
    description:
      'Generate more sales, more easily with Velocity and Stripe. Working together out of the box so you can be selling online from day one.',
  },
  {
    id: 'expertise-6',
    name: 'Direct project support',
    description:
      'Based on the Gold Coast and offering an much more in-person experience when it comes to web design and digital marketing. Give us a ring and see how we do things differently here.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">The best bits</h2>
      <div class="lg:col-span-2">
        <dl
          class="-mt-3"
          x-data="{ selected: null, toggle(value) { this.selected = this.selected === value ? null : value } }"
        >
          {
            features.map((feature, index) => (
              <div
                class="rounded-3xl px-4 transition"
                x-data={`{ id: ${index}, get isOpen() { return this.id === this.selected }, get isNextOpen() { return (this.id + 1) === this.selected } }`}
                x-bind:class="{ 'bg-primary-500/10 dark:bg-primary-400/10': isOpen }"
              >
                <dt
                  class="border-b text-lg transition"
                  x-cloak
                  x-bind:class="{ 'border-transparent': isOpen || isNextOpen, 'border-primary-900/10 dark:border-primary-300/10': !(isOpen || isNextOpen) }"
                >
                  <button
                    type="button"
                    class="group block w-full py-6 text-left transition focus-visible:outline-none"
                    aria-controls={feature.id}
                    x-on:click="toggle(id)"
                    aria-expanded="false"
                    x-bind:aria-expanded="isOpen.toString()"
                  >
                    <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                      <span class="font-medium">{feature.name}</span>
                      <span class="ml-6 flex h-7 items-center">
                        <svg
                          class="text-primary-600 dark:text-primary-400 h-6 w-6 rotate-0 transform transition duration-200 ease-in-out"
                          x-bind:class="{ '-rotate-180': isOpen, 'rotate-0': !isOpen }"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z" />
                        </svg>
                      </span>
                    </div>
                  </button>
                </dt>
                <dd class="pb-6 pr-6" id={feature.id} x-show="isOpen" x-cloak x-collapse>
                  <p class="text-primary-950/70 dark:text-primary-200/70 text-base">
                    {feature.description}
                  </p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
